h4{
    color: greenyellow;
}
.widgetContainer{
    width: 200px;
    height: 150px;
    margin: 5px;
    display: inline-block;
    border-color: black;
    border-style: double;
    justify-content: center;
    align-content: center;
    text-align: center;
}